<div class="card-panel red" ng-hide="msgdanger"><span class="white-text text-darken-2"><center>{{ msg }}</center></span></div>
<div class="card-panel blue" ng-hide="msginfo"><span class="white-text text-darken-2"><center>{{ msg }}</center></span></div>
<div class="card-panel yellow accent-4" ng-hide="msgwarning"><span class="white-text text-darken-2"><center>{{ msg }}</center></span></div>
<div class="card-panel green darken-1" ng-hide="msgsuccess"><span class="white-text text-darken-2"><center>{{ msg }}</center></span></div>
