<div class="card-panel red" ng-hide="msgdanger">{{ msg }}</div>
<div class="card-panel blue" ng-hide="msginfo">{{ msg }}</div>
<div class="card-panel yellow accent-4" ng-hide="msgwarning">{{ msg }}</div>
<div class="card-panel green darken-1" ng-hide="msgsuccess">{{ msg }}</div>
