<div ng-show='reloadList' style="text-align: center;">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-green-only" style="border-color: #455a64;">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>