<div class="" ng-controller="seccion" ng-cloak>
	<%= render "partials/alerts" %>
	<blockquote>
		<h3>Lista de secciones</h3>
		<input id="idvar" type="hidden" value="<%= @poll.id %>">
	</blockquote>
	<br>
	<ul as-sortable="sortableOptions" ng-model="getSection">
		<span ng-if="getSection.length == 0">
			<div class="card-panel brown lighten-2"><span class="white-text text-darken-2"><center><b>No se ha agregado ninguna sección</b></center></span></div>
		</span>
		<li ng-repeat="obj in getSection" as-sortable-item class="as-sortable-item">
			<div as-sortable-item-handle class="as-sortable-item-handle" style="height:50px">
				<div class="file-field input-field">
					<div class="row">
						<div class="col s9">
							<div class="btn disabled">
								<span><i class="large material-icons">open_with</i></span>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path" type="text" placeholder="Upload one or more files" ng-model="obj.attributes.name">
							</div>
						</div>
						<div class="col s3">
							<div class="row">
								<div class="col s6">
									<div class="btn green lighten-1">
										<span><i class="large material-icons">live_help</i></span>
									</div>
								</div>
								<div class="col s6">
									<div class="btn red  darken-2">
										<span><i class="large material-icons">delete</i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<form name="form.sectionForm" novalidate="" ng-submit="save(CreateData)">
		<div class="input-field">
			<i class="material-icons prefix">toc</i>
			<input type="text" ng-model="CreateData.section.name">	
			<label for="icon_telephone">Sección</label>		
		</div>
		<code>{{ errorMessages.name[0] }}</code>
		<center>
			<button class="btn waves-effect waves-light">Agregar
				<i class="material-icons right">playlist_add</i>
			</button>
		</center>
	</form>
</div>