<input id="poll" type="hidden" value="<%= @poll.id %>">
<div class="row center" ng-controller="resolve" ng-cloak>
	<div class="row">
			<div class="card-panel white">
				<p ng-bind-html="pollData.description"></p>
			</div>
			<span ng-repeat="obj in getSection">
				<div class="card-panel white" style="text-align: left;">
					<span class="card-title"><strong>{{ obj.attributes.rank }}  {{ obj.attributes.name }}</strong></span>
					<br/>
					<br/>
					<span ng-repeat="questions in obj.relationships.questions">
						{{ obj.attributes.rank }}.{{ questions.attributes.rank }} {{ questions.attributes.description }}
						<span ng-if="questions.attributes.category == 1">
							<div class="input-field">
								<textarea id="textarea{{questions.attributes.id}}" class="materialize-textarea" ng-model="response[questions.attributes.id]"></textarea>
								<label for="textarea{{questions.attributes.id}}">Ingrese su comentario</label>
							</div>
							<span ng-if="error[questions.attributes.id]">
								<code>Debe de responder esta pregunta</code>
							</span>
						</span>
						<span ng-if="questions.attributes.category == 2">
							<p>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}1" value="1" />
								<label for="{{questions.attributes.id}}1">Excelente</label>
							</p>
							<p>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}2" value="2" />
								<label for="{{questions.attributes.id}}2">M. Bueno</label>
							</p>
							<p>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}3" value="3" />
								<label for="{{questions.attributes.id}}3">Bueno</label>
							</p>
							<p>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}4" value="4" />
								<label for="{{questions.attributes.id}}4">Regular</label>
							</p>
							<span ng-if="error[questions.attributes.id]">
								<code>Debe de responder esta pregunta</code>
							</span>
						</span>
						<span ng-if="questions.attributes.category == 3">
							<p>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}1" value="1" />
								<label for="{{questions.attributes.id}}1">1</label>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}2" value="2" />
								<label for="{{questions.attributes.id}}2">2</label>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}3" value="3" />
								<label for="{{questions.attributes.id}}3">3</label>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}4" value="4" />
								<label for="{{questions.attributes.id}}4">4</label>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}5" value="5" />
								<label for="{{questions.attributes.id}}5">5</label>
							</p>
							<span ng-if="error[questions.attributes.id]">
								<code>Debe de responder esta pregunta</code>
							</span>
						</span>
						<span ng-if="questions.attributes.category == 4">
							<p>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}1" value="1" />
								<label for="{{questions.attributes.id}}1">1</label>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}2" value="2" />
								<label for="{{questions.attributes.id}}2">2</label>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}3" value="3" />
								<label for="{{questions.attributes.id}}3">3</label>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}4" value="4" />
								<label for="{{questions.attributes.id}}4">4</label>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}5" value="5" />
								<label for="{{questions.attributes.id}}5">5</label>

								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}6" value="6" />
								<label for="{{questions.attributes.id}}6">6</label>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}7" value="7" />
								<label for="{{questions.attributes.id}}7">7</label>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}8" value="8" />
								<label for="{{questions.attributes.id}}8">8</label>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}9" value="9" />
								<label for="{{questions.attributes.id}}9">9</label>
								<input name="group{{questions.attributes.id}}" type="radio" ng-model="response[questions.attributes.id]" id="{{questions.attributes.id}}10" value="10" />
								<label for="{{questions.attributes.id}}10">10</label>
							</p>
							<span ng-if="error[questions.attributes.id]">
								<code>Debe de responder esta pregunta</code>
							</span>
						</span>
						<br/>
					</span>
				</div>
			</span>
			<button class="btn waves-effect waves-light" type="submit" ng-click="save(getSection)" name="action">
				Enviar
				<i class="material-icons right">send</i>
			</button>
	</div>
</div>