<input id="poll" type="hidden" value="<%= @poll.id %>">
<div class="row center" ng-controller="resolve" ng-cloak>
	<div class="row">
			<div class="card-panel white">
				<p ng-bind-html="pollData.description"></p>
			</div>
			<span ng-repeat="obj in getSection">
				<div class="card-panel white" style="text-align: left;">
					<span class="card-title"><strong>{{ obj.attributes.rank }}  {{ obj.attributes.name }}</strong></span>
					<br/>
					<br/>
					<span ng-repeat="questions in obj.relationships.questions">
						{{ obj.attributes.rank }}.{{ questions.attributes.rank }} {{ questions.attributes.description }}
						<span ng-if="questions.attributes.category == 1">
							<div class="input-field">
								<textarea id="textarea1" class="materialize-textarea"></textarea>
								<label for="textarea1">Ingrese su comentario</label>
							</div>
						</span>
						<span ng-if="questions.attributes.category == 2">
							<p>
								<input type="checkbox" id="test1"  />
								<label for="test1">Excelente</label>
							</p>
							<p>
								<input type="checkbox" id="test2"/>
								<label for="test2">M. Bueno</label>
							</p>
							<p>
								<input type="checkbox" id="test3"/>
								<label for="test3">Bueno</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4">Regular</label>
							</p>
						</span>
						<span ng-if="questions.attributes.category == 3">
							<p>
								<input type="checkbox" id="test1"/>
								<label for="test1">1</label>
								<input type="checkbox" id="test2"/>
								<label for="test2">2</label>
								<input type="checkbox" id="test3"/>
								<label for="test3">3</label>
								<input type="checkbox" id="test4"/>
								<label for="test4">4</label>
								<input type="checkbox" id="test5"/>
								<label for="test5">5</label>
							</p>
						</span>
						<span ng-if="questions.attributes.category == 4">
							<p>
								<input type="checkbox" id="test6"/>
								<label for="test6">1</label>
								<input type="checkbox" id="test7"/>
								<label for="test7">2</label>
								<input type="checkbox" id="test8"/>
								<label for="test8">3</label>
								<input type="checkbox" id="test9" />
								<label for="test9">4</label>
								<input type="checkbox" id="test10"/>
								<label for="test10">5</label>
								<input type="checkbox" id="test11"/>
								<label for="test11">6</label>
								<input type="checkbox" id="test12"/>
								<label for="test12">7</label>
								<input type="checkbox" id="test13"/>
								<label for="test13">8</label>
								<input type="checkbox" id="test14"/>
								<label for="test14">9</label>
								<input type="checkbox" id="test15"/>
								<label for="test15">10</label>
							</p>
						</span>
						<br/>
					</span>
				</div>
			</span>
	</div>
</div>