.blue {
    background-color: #26a69a !important;
}
.center{
    text-align: center;
}
code{
    color: red;
}
.large-padding {
    padding: 10px 15px;
}
.loading-alert {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 10px;
    z-index: 1000;
    height: 40px;
}
.padding{
    padding-top: 20px;
    padding-bottom: 0px;
}
.paddingcard{
    padding-top: 10px;
    padding-bottom: 0px;
}
.text-center {
    text-align: center !important;
}
.ticket{
    display: inline-block;
    margin-top: 0px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 16px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
}
.toploading{
    margin-top: 15%;
    margin-bottom: 15%;
}
.white-text {
    color: #FFFFFF !important;
}
.z-depth-3 {
    -webkit-box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}